* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #222222;
}

input {
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  background: none;
  color: #fff;
  padding: 0 10px;
  outline: none;
}

.enter {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: none;
  border: 1px solid whitesmoke;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.enter:hover {
  background-color: whitesmoke;
  color: #222222;
}